{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'components/head.html'%}
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
    <div class="wrapper">
        {%include 'components/sidebar.html'%}
        <div class="main-panel">
            {%include 'components/topbar.html'%}
            <div class="container">
                <div class="page-inner">
                    <div
                        class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
                    >
                        <div class="page-header">
                            <h3 class="fw-bold mb-3">{%block page_name%}{%endblock%}</h3>
                            <ul class="breadcrumbs mb-3">
                            {%block additional_content%}{%endblock%}
                            </ul>
                        </div>
                        <div class="ms-md-auto py-2 py-md-0">
                            {%block action%}{%endblock%}
                        </div>
                    </div>
                    <div class="row">
                        {%block content%}{%endblock%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/jquery-3.7.1.min.js'%}"></script>
    <script src="{% static 'assets/js/core/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js'%}"></script>

    <!-- jQuery Scrollbar -->
    <script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js'%}"></script>

    <!-- Chart JS -->
    <script src="{% static 'assets/js/plugin/chart.js/chart.min.js'%}"></script>

    <!-- jQuery Sparkline -->
    <script src="{% static 'assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js'%}"></script>

    <!-- Chart Circle -->
    <script src="{% static 'assets/js/plugin/chart-circle/circles.min.js'%}"></script>

    <!-- Datatables -->
    <script src="{% static 'assets/js/plugin/datatables/datatables.min.js'%}"></script>

    <!-- Bootstrap Notify -->
    <script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js'%}"></script>

    <!-- jQuery Vector Maps -->
    <script src="{% static 'assets/js/plugin/jsvectormap/jsvectormap.min.js'%}"></script>
    <script src="{% static 'assets/js/plugin/jsvectormap/world.js'%}"></script>

    <!-- Sweet Alert -->
    <script src="{% static 'assets/js/plugin/sweetalert/sweetalert.min.js'%}"></script>

    <!-- Kaiadmin JS -->
    <script src="{% static 'assets/js/kaiadmin.min.js'%}"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <!-- <script src="{%static 'assets/js/setting-demo.js'%}"></script> -->
    <!-- <script src="assets/js/demo.js"></script> -->
    <script>
    $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#177dff",
        fillColor: "rgba(23, 125, 255, 0.14)",
    });

    $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#f3545d",
        fillColor: "rgba(243, 84, 93, .14)",
    });

    $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#ffa534",
        fillColor: "rgba(255, 165, 52, .14)",
    });
    </script>
    {%block script%}{%endblock%}
</html>