{%extends 'base.html'%}

{%block title%}
{{request.user.first_name}} {{request.user.last_name}}
{%endblock%}

{%block page_name%}
Changer mot de passe
{%endblock%}

{%block additional_content%}
<ul class="breadcrumbs mb-3">
    <li class="nav-home">
      <a href="{%url 'dashboard'%}">
        <i class="icon-home"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="{%url 'my-profile'%}">Profile</a>
    </li>
    <li class="separator">
      <i class="icon-arrow-right"></i>
    </li>
    <li class="nav-item">
      <a href="">Changer mot de passe</a>
    </li>
  </ul>
{%endblock%}

{%block content%}
<style>
    .alert-trim{
        display: inline-block;
    }
</style>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <form action="" class="row" method="post">
                        {%csrf_token%}
                        <div class="form-group">
                            <label for="old_password">Ancien Mot de passe *</label>
                            {{form.old_password}}
                        </div>
                        <div class="form-group">
                            <label for="new_password">Nouveau Mot de passe *</label>
                            {{form.new_password}}
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirmer Mot de passe *</label>
                            {{form.confirm_password}}
                        </div>
                        <!-- <div class="row mt-3">
                            <div class="col">
                                <button class="btn btn-black w-100">Modifier</button>
                            </div>
                        </div> -->
                        <div class="row mt-2">
                            <div class="col">
                                <button class="btn btn-black">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}